<?php
    // - Microsoft Azure App -
    const CLIENT_ID = "11111111-1111-1111-1111-111111111111";
    const CLIENT_SECRET = "example_secret~nQBqc7Dkz1LJc7agb0spwK";
    
    // Don't forget to add redirect uri(s) at the Azure Portal
?>